@import '../../styles/variables';

.full-width {
  width: 100%;
  margin-bottom: $spacing-md;
}

mat-dialog-content {
  min-width: 400px;
  padding: $spacing-lg;
}

mat-dialog-actions {
  padding: $spacing-md $spacing-lg;
  margin-bottom: 0;
} 